body {
    background-color: #1D5C63;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

.container{
    padding: 50px;
    background-color: #EDE6DB;
    margin-top: 30px;
    border-radius: 30px;
    box-shadow: 0 0 10px black;
    min-height: 90vh;
}

/*Navbar*/

.navbar_items {
    display: flex;
}

.navbar_active {
    margin-left: 20px;
    font-size: 2rem;
    font-weight: 700;
    color: #1A3C40;
    border-bottom: 4px solid #417D7A;
}

.navbar_item {
    margin-right: 20px;
    color: #1A3C40;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}
.navbar_item:hover {
    transform: scale(1.05);
}